/*
node js pallete
http://www.colourlovers.com/palette/3130191/node.js
*/

body {
	background-color: #D2D7BA;
}

#panel {
	background-color: white;
}

#header {
	background-color: #46483E;
	color: #8CC84B;
	padding-top: 10px;
	padding-bottom: 10px;

	padding-left: 5px;
	padding-right: 5px;
}

#nav {
	padding-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

#content {
	padding-top: 20px;
	padding-bottom: 20px;
}

#entry {
	padding-top: 5px;
	padding-bottom: 5px;
}

#newsletter {
	padding-top: 40px;
	padding-left: 5px;
	padding-right: 5px;	
}

#footer {
	padding-top: 40px;
	padding-left: 5px;
	padding-right: 5px;
}

