<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NodeLog.in</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/nodelogin.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
    
      <div class="row">
       <div class="col-md-2"></div>
       <div class="col-md-6">

          <div id="panel">
            <div id="header">
              <h2>Node Log.in</h2>
            </div>  
            <div id="nav">
              <div class="row">
               <div class="col-md-4"> << previous</div>
               <div class="col-md-4"><p class="text-center">24 June 2014</p></div>
               <div class="col-md-4"><p class="text-right">next >></p></div>
              </div>
            </div>
            <div id="content">
                <div id="entry">
                </div>

            </div>
            <div id="newsletter">
               newsletter
            </div>
            <div id="footer">
              footer
            </div>        
            </div>        
          </div>

       </div>
        <div class="col-md-4"></div>
      </div>
    
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/nodelogin.js"></script>
  </body>
</html>
